
<script>
function showimg() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4) {
     document.getElementById("psdiv").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "http://<%= msg %>:2346/ps", true);
  xhttp.send();
}




function sendimgdata(){

let cntnrname= document.getElementById("cname").value;
let bsimgname= document.getElementById("osname").value;
 var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4) {
     document.getElementById("iddiv").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "http://<%= msg %>:2346/imgid?cname="+cntnrname+"&"+"osname="+bsimgname , true);
  xhttp.send();


}


</script>

<!---- this is image creating division ---->
<div id="imgcrt" name="imgcrt">
       <form action="/imgid"  method="get">	
	enter os name : <input type="text" name= "cname" id="cname" />
	<label for="baseos">choose base image: </label>

	<select name="osname" id="osname">
  	<option value="centos">CENTOS</option>
  	<option value="ubuntu">UBUNTU</option>
	</select>
	</form>
  </div>
<button onclick= "sendimgdata()">createimage</button>
<div id ="iddiv" name= "iddiv">
this id div
</div>
if you are not getting the terminal then : 
<a href="https://<%= msg %>:2323" >click me and get back here</a>











<button onclick="showimg()">showimages</button>
<div id="psdiv"  style= "border:3px solid red "name="psdiv">

   this is ps div
 </div>


<div name="descr" id="descr" style="border: 3px double blue" >

<h2>do the project inside above launced os:</h2>
<h3>
update installer to get latest applications <br />

<br />
sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-Linux-*; \
sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-Linux-*; \

dnf update -y; \
dnf --disablerepo '*' --enablerepo extras swap centos-linux-repos centos-stream-repos -y; \
dnf distro-sync -y;


<br /><br />
<br />
step:1 ==> docker start osname<br />
step:2 ==> docker attach osname <br />
now do all installation what you want ............
</div>


<!---- terminal setups--------->
<iframe src="https://<%= msg %>:2323" title="W3Schools Free Online Web Tutorials"></iframe>



<!---- upload file form the client------>
<form action="/uploadfile" method="post" enctype="multipart/form-data">
    <input type= "file" name= "image" />
     <input type="submit" value= "send" onclick="alert('uploaded')"/>
  </form>






<!--------- image pushing into the docker hub------------>
<button onclick="pushimage()">push-image</button>
<div id="pushimage" name="pushimage">
this is push image division

<iframe src="http://<%= msg %>:2346/pushimage" title="W3Schools Free Online Web Tutorials"></iframe>
</div>


